{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="main">
                I think, therefore I thrive.
            </h1>
            <p class="aboutcontent">
                I am a full-stack junior software developer by trade with
                experience in both customer service and sales.  I pursued and
                acquired a Bachelors of Philosophy from the University of
                Toledo.  While getting my degree, I managed an electronic cigarette
                shop in Oregon, Ohio called Vapors.  Soon after graduation, I moved
                back to Cleveland, Ohio and began a year long stint in car sales
                for Ganley Westside Imports in North Olmsted, Ohio.  Working for
                the biggest auto group in Ohio really allowed me to grow as a
                sales professional, but as the year grew to a close, I desired
                more mental and logical challenges in my life rather than social
                challenges.  I respectfully left my position at GWI and pursued
                growth of my coding knowledge through The Tech Academy in
                Portland, Oregon.  I finished their program in May of 2018.
            </p>
        </div>
    </div>
</div>
{% endblock %}
