{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="main">
                Articles
            </h1>
        </div>
    </div>
    <div class="row">
        {% for item in allarticles %}
        <div class="col-lg-12">
            <a class="articlelink" href="{{ item.url }}" target="_blank">
                <figure class="articlefigure">
                    <img class="articleimg" src="{{ item.imageurl }}" />
                </figure>
                <p class="articletext">{{ item.body }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
