{% extends "bootstrap/base.html" %}
{% block title %}Frankie Baffa{% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}" />
{% endblock styles %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}

{% block navbar %}
{{ nav.mynavbar.render() }}
<div class="container-fluid topcontainer">
    <div class="row-fluid">
        <div class="col-xs-2 iconcol">
            <a href="https://github.com/frankiebaffa" target="_blank">
                <i class="fab fa-github socialicon"></i>
            </a>
        </div>
        <div class="col-xs-2 iconcol">
            <a href="https://facebook.com/frankiebaffa" target="_blank">
                <i class="fab fa-facebook socialicon"></i>
            </a>
        </div>
        <div class="col-xs-2 iconcol">
            <a href="https://twitter.com/frankiebaffa" target="_blank">
                <i class="fab fa-twitter socialicon"></i>
            </a>
        </div>
        <div class="col-xs-2 iconcol">
            <a href="https://linkedin.com/in/frankiebaffa" target="_blank">
                <i class="fab fa-linkedin socialicon"></i>
            </a>
        </div>
        <div class="col-xs-2 iconcol">
            <a href="https://soundcloud.com/iamnominal" target="_blank">
                <i class="fas fa-microphone socialicon"></i>
            </a>
        </div>
        <div class="col-xs-2 iconcol">
            <a href="https://soundcloud.com/letsbefrankpodcast" target="_blank">
                <i class="fa fa-podcast socialicon"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}{% endblock content %}
