{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 blogpage">
        <h1 class="mainblog">
            {{ post.title }}
        </h1><br>
        <h2 class="submainblog">
            {{ post.timestamp }}
        </h2><br>
        <div class="col-sm-4">
            <img class="blogimage" src="{{ post.imageurl }}" title="blogimage" />
        </div>
        <div class="col-sm-8">
            <p class="blogbody">{{ post.body }}</p>
        </div>
    </div>
</div>
{% endblock content %}
