{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sectionstyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cardstyle.css') }}">
{% endblock style %}

{% extends "basenew.html" %}

{% block content %}
<div class="container-fluid gencontainer articlecontainer">
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">Contact</h1>
            <p class="descript">If you want to reach out, fill out this form</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="formcard">
                <form class="cardform" action="{{ url_for('contact') }}" method=post>
                    {{ form.hidden_tag() }}
                        <p>
                            {{ form.name(class_="forminput", value=sent) }}<br>
                            {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.email(class_="forminput", value=sent) }}<br>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.subject(class_="forminput", value=sent) }}<br>
                            {% for error in form.subject.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.message(class_="formtextarea", id="textarea") }}<br>
                            {% for error in form.message.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(class_="formsubmit") }}</p>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script>
    var textarea = document.getElementById('textarea');
    textarea.innerHTML = "{{ sent }}"
</script>
{% endblock %}
