<footer class="foot">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-3 iconcol">
                <a href="https://github.com/frankiebaffa" target="_blank">
                    <i class="fab fa-github socialicon"></i>
                </a>
            </div>
            <div class="col-xs-3 iconcol">
                <a href="https://facebook.com/frankiebaffa" target="_blank">
                    <i class="fab fa-facebook socialicon"></i>
                </a>
            </div>
            <div class="col-xs-3 iconcol">
                <a href="https://twitter.com/frankiebaffa" target="_blank">
                    <i class="fab fa-twitter socialicon"></i>
                </a>
            </div>
            <div class="col-xs-3 iconcol">
                <a href="https://linkedin.com/in/frankiebaffa" target="_blank">
                    <i class="fab fa-linkedin socialicon"></i>
                </a>
            </div>
        </div>
    </div>
<footer>
