{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="main">
                Recent Projects
            </h1>
        </div>
    </div>
    <div class="row">
        {% for item in allprojects %}
        <div class="col-sm-4">
            <form class="articlelink" action="/projects/{{ item.id }}" method="post">
                <input class="form" type="hidden" value="{{ item.id }}" name="projectid">
                <button type="submit" name="blogpost" value="blogpost" class="btn-link">
                    <img class="articleimg" src="{{ item.imageurl }}"
                            height="200" width="250" />
                    <p class="articletext">{{ item.title }}</p>
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
