{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cardstyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modalstyle.css') }}">
{% endblock style %}

{% extends "basenew.html" %}

{% block head %}
{{ super() }}
{% include "modals.html" %}
{% endblock head %}

{% block content %}
<div class="container-fluid gencontainer projectcontainer" id="blog">    
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">
                Recent Projects
            </h1>
            <p class="descript">
                Works, contributions, communities
            </p>
        </div>
    </div>
    <div class="row listcontainer">
        <div class="cardlist">
            {% for project in allprojects %}
                <div class="card" id="button{{ project.id }}">
                    <a>
                        <img  class="cardimg" src="{{ project.imageurl }}" alt="{{ project.title }}">
                        <div class="cardcontainer">
                            <p class="cardp">{{ project.title }}</p>
                        </div>
                    </a>
                </div>
                {% include 'projectmodaljs.html' %}    
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid gencontainer blogcontainer" id="blog">
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">
                Blog
            </h1>
            <p class="descript">
                Thoughts, ideas, sparks
            </p>
        </div>
    </div>
    <div class="row listcontainer">
        <div class="cardlist">
            {% for post in allposts %}
                <div class="card" id="buttonpost{{ post.id }}">
                    <a>
                        <img  class="cardimg" src="{{ post.imageurl }}" alt="{{ post.title }}">
                        <div class="cardcontainer">
                            <p class="cardp">{{ post.title }}</p>
                        </div>
                    </a>
                </div>
                {% include 'blogmodaljs.html' %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid gencontainer articlecontainer" id="blog">
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">
                Articles
            </h1>
            <p class="descript">
                Interests, impacts, importance
            </p>
        </div>
    </div>
    <div class="row listcontainer">
        <div class="cardlist">
            {% for article in allarticles %}
                <div class="card">
                    <a href="{{ article.url }}" target="_blank">
                        <img  class="cardimg" src="{{ article.imageurl }}" alt="{{ article.body }}">
                        <div class="cardcontainer">
                            <p class="cardp">{{ article.body }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cardscroll.js') }}"></script>
{% endblock content %}
