{% extends "basenew.html" %}

{% block content %}
    <h1 class="main">Sign In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class_="formlabel") }}<br>
            {{ form.username(class_="forminput") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class_="formlabel") }}<br>
            {{ form.password(class_="forminput") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label(class_="formlabel") }}</p>
        <p>{{ form.submit(class_="formsubmit") }}</p>
    </form>
{% endblock %}
