{% extends 'basenew.html' %}

{% block head %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/cardscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/markupbtns.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Markdown.Converter.js') }}"></script>
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modalstyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cardstyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sectionstyle.css') }}">

{% endblock head %}

{% block content %}
<div class="container-fluid gencontainer aboutcontainer editaboutcontainer">
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">
                Edit About Section
            </h1>
            <p class="descript">
             
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="formcard createaboutcard">
                {% for item in items %}
                 <form class="cardform" action="{{ url_for('updateabout') }}" method="POST" enctype=multipart/form-data>
                {{ editform.hidden_tag() }}
                    <input class="form" type="hidden" value="{{ item.id }}" name="id">
                    <p>
                        {{ editform.newbody(class_="formtextarea editabouttextarea", id="editbody"+item.id|string) }}<br>
                        {% for error in editform.newbody.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ editform.submit(class_="formsubmit abouteditsubmit", id="editsubmit"+item.id|string) }}</p>
                </form>
                <form method="POST" class="inline" action="/manage/about/delete">
                    <input class="" type="hidden" value="{{ item.id }}" name="id">
                    <input class="form formdelete abouteditdelete" type="submit" value="Delete"><br>
                </form>
                {% include 'editloopjs.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cardscroll.js') }}"></script>
</div>
{% endblock content %}
