{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12">
        <h1 class="main">
            Create Article
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="POST">
            {{ createform.hidden_tag() }}
                <p>
                    {{ createform.body.label(class_="formlabel") }}<br>
                    {{ createform.body(class_="forminput") }}<br>
                    {% for error in createform.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ createform.url.label(class_="formlabel") }}<br>
                    {{ createform.url(class_="forminput") }}<br>
                    {% for error in createform.url.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ createform.imageurl.label(class_="formlabel") }}<br>
                    {{ createform.imageurl(class_="forminput") }}<br>
                    {% for error in createform.imageurl.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ createform.submit(class_="formsubmit") }}</p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="main">
                Edit
            </h1>
        </div>
    </div>
    <div class="row">
        {% for item in items %}
        <div class="col-lg-6 formblock">
            <p class="formlabel">{{ item.body }}</p>
            <p>
                <form class="editform" action="{{ url_for('updatearticle')}}" method="POST">
                {{ editform.hidden_tag() }}
                <input class="form" type="hidden" value="{{ item.body }}" name="oldbody">
                    <p>
                        {{ editform.newbody.label(class_="formlabel") }}<br>
                        {{ editform.newbody(class_="forminput", value=item.body) }}<br>
                        {% for error in editform.newbody.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ editform.newurl.label(class_="formlabel") }}<br>
                        {{ editform.newurl(class_="forminput", value=item.url) }}<br>
                        {% for error in editform.newurl.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ editform.newimageurl.label(class_="formlabel") }}<br>
                        {{ editform.newimageurl(class_="forminput", value=item.imageurl) }}<br>
                        {% for error in editform.newimageurl.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ editform.submit(class_="formsubmit") }}</p>
                </form>
                <form method="POST" action="/manage/articles/delete">
                    <input class="form" type="hidden" value="{{ item.body }}" name="body">
                    <input class="formdelete" type="submit" value="Delete"><br>
                </form>
            </p>
        </div>
        <div class="spacer"><p> </p></div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
