{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="main">
            Manage
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <a href="/manage/articles">
            <h2 class="submain managelink">
                Articles
            </h2>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="/manage/posts">
            <h2 class="submain managelink">
                Blog Posts
            </h2>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="/manage/projects">
            <h2 class="submain managelink">
                Projects
            </h2>
        </a>
    </div>
</div>
{% endblock content %}
