{% extends "basenew.html" %}

{% block head %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/cardscroll.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cardstyle.css') }}">

{% endblock head %}


{% block content %}
<div class="container-fluid gencontainer articlecontainer">
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">
                Create Article
            </h1>
            <p class="descript">Use this form to create new article posts</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="formcard createarticlecard">
                <form class="cardform" action="" method="POST">
                {{ createform.hidden_tag() }}
                    <p>
                        {{ createform.body(class_="forminput") }}<br>
                        {% for error in createform.body.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ createform.url(class_="forminput") }}<br>
                        {% for error in createform.url.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ createform.imagefile(class_="forminput", id="createimg") }}<br>
                        {% for error in createform.imagefile.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ createform.submit(class_="formsubmit cardsubmit") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gencontainer blogcontainer">
    <div class="row subhead">
        <div class="col-lg-12">
            <h1 class="newmain">
                Edit
            </h1>
            <p class="descript">Use these forms to edit existing article posts</p>
        </div>
    </div>
    <div class="row listcontainer">
        <div class="cardlist cardformlist">
        {% for item in items %}
            <div class="card editarticlecard">
                <form class="cardform" action="{{ url_for('updatearticle')}}" method="POST">
                {{ editform.hidden_tag() }}
                    <input class="form" type="hidden" value="{{ item.body }}" name="oldbody">
                        <p>
                            {{ editform.newbody(class_="forminput", value=item.body) }}<br>
                            {% for error in editform.newbody.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ editform.newurl(class_="forminput", value=item.url) }}<br>
                            {% for error in editform.newurl.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ editform.imagefile(class_="forminput", id="editimg"+item.id|string) }}<br>
                            {% for errors in editform.imagefile.errors %}
                            <span style = "color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ editform.submit(class_="formsubmit editcardsubmit") }}</p>
                </form>
                <form class="cardform" method="POST" action="/manage/articles/delete">
                    <input class="form" type="hidden" value="{{ item.body }}" name="body">
                    <input class="formsubmit formdelete editcarddelete" type="submit" value="Delete"><br>
                </form>
            </div>
            <script>
                $(document).ready(function() {
                    $('#editimg{{ item.id }}').val('{{ item.imageurl }}');
                });
            </script>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
