.listcontainer {
    width: 100%;
    overflow: auto;
    height: 450px;
    -webkit-overflow-scrolling: touch;    
}

.biglistcontainer {
    height: 550px;
}

.editaboutcontainer {
    height: 100%;
}

.card {
    /* Add shadows to create the "card" effect */
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pagecard {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formcard {
    /* Add shadows to create the "card" effect */
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    min-width: 300px;
    height: 380px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardsubmit {
    margin-top: -15px;
}

.loginformcard {
    height: 200px;
}

.createarticlecard {
    height: 250px;
}

.createblogcard {
    height: 400px;
}

.createprojectcard {
    height: 425px;
}

.createaboutcard {
    height: 85%;
    width: 97.5%;
}

.createabouttextarea {
    height: 80% !important;
}

.editabouttextarea {
    height: 80% !important;
}

.createposttextarea {
    height: 100px;
}

.createprojecttextarea {
    height: 100px;
}

.editposttextarea {
    height: 100px;
}

.editprojecttextarea {
    height: 100px;
}

.editcarddelete {
    margin-top: -20px;
}

.editcardsubmit {
    margin-top: -25px;
}

.posteditdelete {
    margin-top: -5px;
}

.posteditsubmit {
    margin-top: 0px;
}

.editarticlecard {
    height: 275px;
}

.editpostcard {
    height: 400px;
}

.editprojectcard {
    height: 500px;
}

.abouteditsubmit {
    margin-top: 5px;
    margin-bottom: -5px;
}

.markupbtncontainer {
    display: flex;
    justify-content: center;
}

#previewbtn {
    margin-top: -40px;
}

.createprojectpreviewbtn {
    margin-top: -20px !important;
}

.editprojectpreviewbtn {
    margin-top: 0px !important;
}

.projecteditdelete {
    margin-top: 10px;
}

.markupbtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: grey;
    border: none;
    margin-top: 0px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    display: inline-block;
}

.abouteditdelete {
    display: block;
    margin-top -10px;
    margin-left: auto;
    margin-right: auto;
}

.card:hover, .pagecard:hover, .formcard:hover {
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 16px 8px 0 rgba(0, 0, 0, 0.4);
}

.cardimg {
    transition: 0.4s;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
    opacity: 0.6;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.cardimg:hover {
    opacity: 1.0;
}

.cardimg {
    width: 90%;
}

.cardlist .card {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.cardp {
    margin-top: 5px;
    color: white;
    text-align: center;
}
