html, body {
    /*height: 100%;*/
}

.sectionpage {
    min-height: 100%;
}

.container-fluid {
    /*overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
}

.aboutdescript {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.aboutdescript > a {
    color: red;
    text-decoration: none !important;
}

.aboutimg {
    margin-bottom: 15px;
}

.contentcontainer {
    border-radius: 5px;
    width: 95%;
    height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
