@font-face {
    font-family: 'CodeNewRoman';
    src: url('/static/fonts/CodeNewRoman.otf');
}

body {
    background-color: black;
    font-family: 'CodeNewRoman';
}

.navbar {
    position: fixed;
    width: 100%;
    background-image: url('/static/img/code.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    z-index: 999;
}

nav .navbar-nav > li > a{
  color: lightblue !important;
  }

nav .navbar-nav > .active > a {
    color: white !important;
    background-color: transparent !important;
}

nav .navbar-nav > .active > a:hover,
nav .navbar-nav > li > a:hover {
    color: red !important;
    background-color: transparent ! important;
}

nav .navbar-brand {
    color: lightblue !important;
}

.main {
    text-align: center;
    color: lightgrey;
    font-size: 45px;
}

.submain {
    text-align: center;
    color: lightgrey;
    padding-bottom: 10px;
    font-size: 30;
}

.aboutme {
    color: white;
}

.aboutcontent {
    color: lightblue;
}

.iconcol {
    text-align: center;
}

.socialicon {
    font-size: 25px;
    color: white;
    background-color: transparent;
}

.socialicon:hover {
    color: red;
}

.topcontainer {
    padding-top: 60px;
}

.articlelink {
    text-align: center;
}

.articleimg {
    clip: rect(0px, 200px, 100px, 0px);
    object-fit: cover;
}

.articlefigure {
   width: 800px;
   overflow:hidden;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.articlefigure .articleimg {
   display:block;
   width:100%;
   margin: -175px 0px;
}

.articletext {
    color: lightblue;
    font-size: 15px;
    text-align: center;
}

.articletext:hover,
.articleimg:hover {
    filter: invert(0.1);
    color: red;
}

.mainblog {
    text-align: center;
    color: lightgrey;
    font-size: 35px;
}

.submainblog{
    text-align: center;
    color: lightgrey;
    margin-top: -30px;
    padding-bottom: 10px;
    font-size: 15px;
}

.mainerror {
    text-align: center;
    color: lightgrey;
    font-size: 35px;
}

.submainerror{
    text-align: center;
    color: lightgrey;
    margin-top: -10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.bodyerror {
    text-align: center;
    color: lightblue;
}

.blogbody {
    color: lightblue;
    font-size: 15px;
}

.blogimage {
    object-fit: cover;
}

.crud {
    color: white;
}

.crudbutton {
    color: lightblue;
}

.crudbutton:hover {
    color: red;
}

.formlabel {
    color: lightblue;
    margin-bottom: -5px;
}

.forminput {
    background-color: grey;
    color: lightblue;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

.formtextarea {
    background-color: grey;
    color: lightblue;
    border: none;
    margin-bottom: -5px;
    width: 400px;
    height: 150px;
}

.formsubmit {
    background-color: grey;
    color: lightblue;
    border: none;
}

.formdelete {
    background-color: grey;
    color: lightblue;
    border: none;
    margin-left: 70px;
}

.editform {
    margin-bottom: -65px;
}

.crudlabel {
    color: white;
   	font-size: 18px;
}

.crudformsubmit {
    background-color: grey;
    color: lightblue;
    border: none;
}

.hideform > input {
    visibility: hidden;
}

#submit {
    margin-bottom: 30px;
}

.form {
    margin-bottom: 5px;
}

.uploadform {
    margin-top: 10px
}

.formblock {
    margin-bottom: 20px;
}

.managelink {
    color: lightblue;
    text-decoration: none !important;
}

.submainproject {
    text-align: center;
    color: lightgrey;
    margin-top: -30px;
    padding-bottom: 10px;
    font-size: 15px;
}

.projectlink:hover
.submainproject:hover {
    color: red;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration: none !important;
  font-family:inherit;
  font-size:inherit;
}

.managelink:hover {
    color: red;
}

@media (min-width: 2000px) {
    height: 300px;
    width: 100%px;
}

/*@media (max-width: 2000px) and (min-width: 800px){
    .articlefigure {
        width: 650px;
    }
    .articlefigure .articleimg {
        width: 100%;
        margin: -110px 0px;
    }
    .blogimage {
        height: 200px;
        width: 200px;
    }
}*/

@media (min-width: 912px) {
    .blogimage {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 912px) and (min-width: 767px) {
    .articlefigure {
        width: 500px;
    }
    .articlefigure .articleimg {
        width: 100%;
        margin: -70px 0px;
    }
    .blogimage {
        height: 200px;
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .articlefigure {
        width: 450px;
    }
    .articlefigure .articleimg {
        width: 100%;
        margin: -50px 0px;
    }
    .blogimage {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        height: 200px;
    }
}
